body {
    font-family: roboto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    border-bottom: 1px solid rgba(20, 34, 81, 0.2);
    
}

.header-image {
    width: 150px;
    height: 30px;
}

.header-navigate-button,
.header-submit-button {
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: #142251;
    font-weight: 600;
}

.header-submit-container {
    display: flex;
    gap: 10px;
}

.header-submit-icon,
.body-submit-icon {
    width: 35px;
    height: 35px;
    background: url('image/plusSubmitButtonIcon.svg') 50% 50% no-repeat;
    background-size: 100% 100%;
}

.body-container {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    gap: 130px;
}

.body-container-first {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.body-container-first-left-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.body-container-first-left-container-title {
    display: flex;
    flex-direction: column;
    font-size: 100px;
    color: #142251;
    
}

.body-container-first-left-container-title-add-name {
    color: #989EB1;
}

.body-container-first-left-container-description {
    font-size: 24px;
    color: #989EB1;
}

.body-submit-container {
    display: flex;
    background: rgba(33, 56, 135, 0.06);
    border-radius: 12px;
    width: 360px;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.body-submit-button {
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: #142251;
    font-weight: 600;
}

.body-container-first-right-container {
    flex: 2;
    display: flex;
    justify-content: flex-end;
}

.body-container-first-right-image {
    width: 770px;
    height: 670px;
}

.body-container-second {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.body-container-second-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.body-container-second-header-title {
    font-size: 94px;
    color: #142251;
}

.body-container-second-header-description {
    font-size: 34px;
    color: #989EB1;
    max-width: 550px;
}

.body-container-second-examples-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.body-container-second-example-card {
    font-size: 24px;
    color: #142251;
    width: 400px;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-container-second-example-card-icon {
    top: 0;
}

.body-container-second-example-card-text {
    /* position: absolute; */
}

.body-container-second-example-card.first {    
    /* background-color: aqua; */
}

.body-container-second-example-card.second {    
    /* background-color: rgb(169, 161, 236); */
}

.body-container-second-example-card.third {    
    /* background-color: rgb(121, 252, 109); */
}

.body-container-second-example-card.fourth {    
    /* background-color: rgb(255, 241, 117); */
}

.body-container-second-example-card-icon.first {
    width: 100%;
    height: 100%;
    background: url('image/secondBodyCardFirstIcon.svg') 50% 50% no-repeat;
    background-size: 100% 100%;
}

.body-container-second-example-card-text.first {
    position: absolute;
    transform: rotate(-12deg);
    left: 10%;    
    max-width: 200px;
}


.body-container-second-example-card-text.first::before {
    content: '1.';
    color: #989EB1;
}

.body-container-second-example-card-icon.second {
    width: 100%;
    height: 100%;
    background: url('image/secondBodyCardSecondIcon.svg') 50% 50% no-repeat;
    background-size: 100% 100%;
}

.body-container-second-example-card-text.second {
    position: absolute;
    bottom: -5%;
    left: 15%;    
    max-width: 200px;
}

.body-container-second-example-card-text.second::before {
    content: '2.';
    color: #989EB1;
}

.body-container-second-example-card.third {
    flex-direction: column-reverse;
    justify-content: space-between;
}

.body-container-second-example-card-icon.third {
    width: 100%;
    height: 100%;
    background: url('image/secondBodyCardThirdIcon.svg') 50% 50% no-repeat;
    background-size: 100% 100%;
}

.body-container-second-example-card-text.third {    
    max-width: 300px;
}

.body-container-second-example-card-text.third::before {
    content: '3.';
    color: #989EB1;
}

.body-container-second-example-card.fourth {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.body-container-second-example-card-icon.fourth {
    width: 250px;
    height: 100px;
    background: url('image/secondBodyCardFourthIcon.svg') 50% 50% no-repeat;
    background-size: 100% 100%;
}

.body-container-second-example-card-text.fourth {    
    max-width: 200px;
}

.body-container-second-example-card-text.fourth::before {
    content: '4.';
    color: #989EB1;
}

.body-container-third {
    display: flex;
    flex-direction: column;
    background: #F3F6F9;
    border-radius: 50px;
    padding: 40px;
    gap: 50px;
}

.body-container-third-header {
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
    align-items: center;
}

.body-container-third-header-title {
    flex: 1;
    font-size: 94px;
    color: #142251;

}

.body-container-third-header-other-part {
    flex: 1;
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    align-items: center;
}

.body-container-third-header-other-text {
    font-size: 30px;
    color: #989EB1;
    max-width: 340px;
}

.body-container-third-header-other-navigate-buttons-container {
    width: 170px;
    height: 85px;
    border-radius: 100px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.body-container-third-header-other-navigate-button {
    border: none;
    width: 35px;
    height: 35px;
    background: url('image/thirdBodyNavigateButtonIcon.svg') 50% 50% no-repeat;
    background-size: 100% 100%;
}

.body-container-third-header-other-navigate-button.left {
    transform: rotate(180deg);
}

.body-container-third-cards {
    display: flex;
    overflow-x: hidden;
    justify-content: space-between;
    gap: 10px;
}

.body-container-third-card {
    min-width: 425px;
    min-height: 520px;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.body-container-third-card-icon {
    width: 100%;
    height: 225px;    
}

.body-container-third-card-title {
    font-size: 34px;
    color: #142251;
    max-width: 250px;
}

.body-container-third-card-description-list {
    margin: 0;
    font-size: 17px;
    color: #142251;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.body-container-third-submit-container {
    display: flex;
    align-self: center;
    width: 415px;
    height: 90px;
    align-items: center;
    justify-content: space-evenly;
    background: #142251;
    border-radius: 12px;
}

.body-container-third-submit-button {
    border: none;

    font-size: 24px;
    color: #FFFFFF;
    background-color: transparent;
    
}

.body-container-third-submit-icon {
    width: 40px;
    height: 40px;
    background: url('image/submitWhitePlusIcon.svg') 50% 50% no-repeat;
    background-size: 100%;
}

.body-container-fourth {
    display: flex;
}

.body-container-fourth-left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 70px
}

.body-container-fourth-left-title {
    font-size: 84px;
    color: #142251;
}

.body-container-fourth-left-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.body-container-fourth-left-card {
    width: 410px;
    height: 95px;
    border: 1px solid #AFB4C4;
    border-radius: 22px;
    position: relative;
    padding: 25px 20px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body-container-fourth-left-card::after {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #AFB4C4;
}

.body-container-fourth-left-card:nth-child(1)::after {
    content: '01';    
}

.body-container-fourth-left-card:nth-child(2)::after {
    content: '02';
}

.body-container-fourth-left-card:nth-child(3)::after {
    content: '03';
}

.body-container-fourth-card-icon {
    min-width: 32px;
    min-height: 28px;
    max-width: 32px;
    max-height: 40px;
}

.body-container-fourth-card-text {
    font-size: 30px;
    color: #989EB1;
}


.body-container-fourth-right-side {
    flex: 4;    
}

.body-container-fourth-right-side-cubes {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}

.body-container-fourth-right-side-image {
    width: 330px;
    height: 390px;
}

.body-container-fourth-right-side-image.first {
    align-self: flex-end;
    position: relative;    
}

.body-container-fourth-right-side-image.second {
    align-self: center;
}
